<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161991133-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-161991133-1');
    </script>

    <meta charset="utf-8" />
    <meta name="keywords" content="COVID,coronavirus,pakistan" />
    <meta name="description" content="COVID-19 is triggering panic across the globe. Get all the latest news and updates from us. Here, you can easily track the number of confirmed coronavirus cases in Pakistan. Our map is an additional feature that can help you identify the infected cities and hospitals nearby." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - corona92</title>
    <link href="https://scontent.flhe5-1.fna.fbcdn.net/v/t1.0-9/90443139_652020338892649_5884023062860398592_o.png?_nc_cat=110&_nc_sid=730e14&_nc_ohc=f3giBU_aPXgAX_fytrZ&_nc_ht=scontent.flhe5-1.fna&oh=6d352108b1d72ba112f43b53e6464f5c&oe=5E9BE5D8" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>

        .header {
            margin-top: 70px;
            padding: 20px;
            text-align: center;
            background: white;
            color: white;
        }

        .navbar-nav {
            font-family: Calibri;
            font-weight: 500;
            font-style: italic;
        }

        .navbar-brand {
            font-weight: bold;
        }


        .apply {
            font-family: 'Bebas Neue';
            margin-top: 40px;
            margin-left: 20px;
            font-size: 50px;
            text-align: center;
            color: black;
        }
    </style>
</head>
<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color:#006b38ff">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="../../Home/Index">
                    <img src="https://scontent.flhe5-1.fna.fbcdn.net/v/t1.0-9/90182566_652401992187817_2041416033306148864_o.jpg?_nc_cat=102&_nc_sid=730e14&_nc_eui2=AeFKQeoFifgSlR_ValD_-mcuU4SFVU2SKYUaMlHUSjy2luRVNyHAJUe9Xt2N6FXCs0aNC5WyFC-rT_HppPIWzZifGYpq0O1IAUpQ8ldKBU-p3w&_nc_ohc=MZkkpUpGKh0AX-SMPAo&_nc_ht=scontent.flhe5-1.fna&oh=d4c2161abb43190e57427d9d40444a27&oe=5E9C9B7B"
                         alt="Corona92" style="width:160px; height:40px;">
                </a>
                &nbsp;
                &nbsp;
                <div class="collapse navbar-collapse ml-3" id="myMenu">
                    <ul class="navbar-nav" style="font-size:medium">
                        <li class="nav-item text-center" style="float:right;">
                            <a class="nav-link" href="../../Home/Index">Home</a>
                        </li>
                        &nbsp;
                        <li class="nav-item text-center">
                            <a class="nav-link" href="../../Home/Analysis">Analysis</a>
                        </li>
                        &nbsp;
                        <li class="nav-item text-center">
                            <a class="nav-link" href="../../Home/Response">Response</a>
                        </li>
                        &nbsp;
                        <li class="nav-item text-center">
                            <a class="nav-link" href="../../Home/Awareness">Awareness</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>



        <div class="header">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <a href="../../Home/Index">
                        <img class="img-fluid" src="https://scontent.flhe5-1.fna.fbcdn.net/v/t1.0-9/90443139_652020338892649_5884023062860398592_o.png?_nc_cat=110&_nc_sid=730e14&_nc_ohc=f3giBU_aPXgAX_fytrZ&_nc_ht=scontent.flhe5-1.fna&oh=6d352108b1d72ba112f43b53e6464f5c&oe=5E9BE5D8"
                             alt="Corona92" width="150" height="100" />
                    </a>
                    <a href="../../Home/Index" style="text-decoration:none">
                        <h1 class="apply">C O V I D - 1 9  &nbsp;  P a k i s t a n</h1>
                    </a>
                </div>
            </div>
        </div>




    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


    <div style="margin-top:100px;">
        <footer class="border-top footer text-muted">
            <div class="container" style="color:#006b38ff">

                &copy; 2020 - corona92 @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            </div>

        </footer>
    </div>
</body>
</html>
