
@{
    ViewData["Title"] = "Myths and Awareness";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161991133-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-161991133-1');
    </script>
    <meta name="keywords" content="myths,measures,precautions" />
    <meta name="description" content="It's high time you debunk the myths about COVID-19 and embrace the facts. We have outlined all the precautionary measures to keep you protected from the virus." />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
        /* card details start  */
        @@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');

        section {
            padding: 50px 0;
        }

        .details-card {
            background: white;
        }

        .card-content {
            background: #ffffff;
            border: 4px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        }

        .card-img {
            position: relative;
            overflow: hidden;
            border-radius: 0;
            z-index: 1;
        }

            .card-img img {
                width: 100%;
                height: auto;
                display: block;
            }

            .card-img span {
                position: absolute;
                top: 15%;
                left: 12%;
                background: #1ABC9C;
                padding: 6px;
                color: #fff;
                font-size: 12px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                transform: translate(-50%,-50%);
            }

                .card-img span h4 {
                    font-size: 12px;
                    margin: 0;
                    padding: 10px 5px;
                    line-height: 0;
                }

        .card-desc {
            padding: 1.25rem;
        }

            .card-desc h3 {
                color: #000000;
                font-weight: 600;
                font-size: 1.5em;
                line-height: 1.3em;
                margin-top: 0;
                margin-bottom: 5px;
                padding: 0;
            }

            .card-desc p {
                color: #747373;
                font-size: 1em;
                line-height: 1.5;
                margin: 0px;
                margin-bottom: 20px;
                padding: 0;
            }

        .btn-card {
            background-color: #1ABC9C;
            color: #fff;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            padding: .84rem 2.14rem;
            font-size: .81rem;
            -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            margin: 0;
            border: 0;
            -webkit-border-radius: .125rem;
            border-radius: .125rem;
            cursor: pointer;
            text-transform: uppercase;
            white-space: normal;
            word-wrap: break-word;
            color: #fff;
        }

            .btn-card:hover {
                background: orange;
            }

        a.btn-card {
            text-decoration: none;
            color: #fff;
        }

        p {
            font-weight: bold;
            font-family: Arial;
            font-size: 25px;
            font-style: italic;
        }

        .btn-sm:hover {
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        }
        /* End card section */
    </style>
</head>
<body onload="setVid()">
    <center style="margin-top:30px">
        <iframe id="videoframe" width="560" height="315" src="https://www.youtube.com/embed/BtN-goy9VOY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <!-- Grid column -->

    </center>
    
     <!-- details card section starts from here -->
    <section class="details-card">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card-content">
                        <div class="card-desc">
                            <h3>Myths</h3>
                            <p style="font-size:small">
                                <br />
                                People of all ages CAN be infected by the coronavirus. Older people, and people with pre-existing medical conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely ill with the virus
                                <br />
                                <br />
                                Cold weather and snow CANNOT kill the coronavirus
                                <br />
                                <br />
                                The coronavirus CAN be transmitted in areas with hot and humid climates
                                <br />
                                <br />
                                The coronavirus CANNOT be transmitted through mosquito bites
                                <br />
                                <br />
                                There is NO evidence that companion animals/pets such as dogs or cats can transmit the coronavirus
                                <br />
                                <br />
                                Taking a hot bath DOES NOT prevent the coronavirus
                                <br />
                                <br />
                                Hand dryers are NOT effective in killing the coronavirus
                                <br />
                                <br />
                                Ultraviolet light SHOULD NOT be used for sterilization and can cause skin irritation
                                <br />
                                <br />
                                Thermal scanners CAN detect if people have a fever but CANNOT detect whether or not someone has the coronavirus
                                <br />
                                <br />
                                Spraying alcohol or chlorine all over your body WILL NOT kill viruses that have already entered your body
                                <br />
                                <br />
                                Vaccines against pneumonia, such as pneumococcal vaccine and Haemophilus influenzae type b (Hib) vaccine, DO NOT provide protection against the coronavirus
                                <br />
                                <br />
                                There is NO evidence that regularly rinsing the nose with saline has protected people from infection with the coronavirus
                                <br />
                                <br />
                                Garlic is healthy but there is NO evidence from the current outbreak that eating garlic has protected people from the coronavirus
                                <br />
                                <br />
                                Antibiotics DO NOT work against viruses, antibiotics only work against bacteria
                                <br />
                                <br />
                                To date, there is NO specific medicine recommended to prevent or treat the coronavirus
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="card-content">
                        <div class="card-desc">
                            <h3>Measures</h3>
                            <p style="font-size:small">
                                <br />
                                Wash your hands frequently
                                <br />
                                <br />
                                Avoid touching your eyes, mouth and nose
                                <br />
                                <br />
                                Cover your mouth and nose with your bent elbow or tissue when you cough or sneeze
                                <br />
                                <br />
                                Avoid crowded places
                                <br />
                                <br />
                                Stay at home if you feel unwell - even with a slight fever and cough
                                <br />
                                <br />
                                If you have a fever, cough and difficulty breathing, seek medical care early - but call by phone first
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- details card section starts from here -->
    <div class="container-fluid mt-5">
        <a href="../../Home/Index" class="btn-sm align-self-start" style="background-color:#006b38ff; color:white; " role="button">Click Here for Home</a>
    </div>
</body>

</html>

