@{
    ViewData["Title"] = "stat";
}

<!DOCTYPE html>


<html>

<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

        div.a {
            font-size: 20px;
            font-weight: 400;
        }

        .btn-app {
            position: relative;
            margin: 0 0 10px 10px;
            min-width: 80px;
            height: 1px;
            text-align: center;
            color: #e62020;
            border: 0;
            font-weight: bold;
        }

        .p-2 {
            padding: 0.6rem !important;
            font-size: 15px;
        }

        .p-3 {
            padding: 0.6rem !important;
            font-size: 25px;
        }

        .center {
            margin: auto;
            width: 60%;
            border: 20px solid #73AD21;
            padding: 10px;
        }

        .badge1 {
            position: absolute;
            top: -3px;
            right: -10px;
            font-size: 12px;
            font-weight: 400
        }

        .btn-app > .badge {
            position: absolute;
            top: -3px;
            right: -10px;
            font-size: 9px;
            font-weight: 400
        }

        .btn-app > .maincasesbadge {
            position: absolute;
            top: 10px;
            right: -15px;
            font-size: 10px;
            font-weight: 400
        }

        /* INNER PAGES COUNTERS */
        #maincounter-wrap {
            margin: auto;
            text-align: center;
            padding-top: 20px
        }

            #maincounter-wrap h1 {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 300;
                font-size: 40px;
                color: #555;
                margin: 0;
            }

        .maincounter-number {
            font-weight: 400;
            color: #696969;
            font-size: 80px;
        }

        .maincounter-number-gdp {
            font-weight: 700;
            color: #696969;
            font-size: 60px;
        }

        #viewall {
            font-size: 16px;
            color: #C0C0C0;
            padding-bottom: 30px;
            text-align: center;
        }

            #viewall a:link {
                color: #C0C0C0;
                text-decoration: none;
            }

            #viewall a:visited {
                color: #C0C0C0;
                text-decoration: none;
            }

            #viewall a:hover {
                color: #333333;
                text-decoration: none;
            }

        .GFG1 {
            grid-area: heading;
            background-color: grey
        }

        .GFG2 {
            grid-area: margin;
        }

        .GFG3 {
            grid-area: sec;
        }

        .GFG5 {
            grid-area: sec1;
        }

        .GFG4 {
            grid-area: info;
        }

        .main {
            display: grid;
            grid-gap: 10px;
            background-color: green;
            padding: 10px;
            margin: auto;
            grid-template-areas: 'margin sec sec1 heading heading heading ' 'margin sec sec1 info info info';
        }

        .GFG {
            background-color: white;
            text-align: center;
            padding: 5px;
            font-size: 20px;
            font-weight: 300;
        }

        body {
            background-color: white;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>

</head>

<body>
    <div class="container-fluid ">
        <div class="row justify-content-center" style="margin-bottom:20px; margin-top:20px; ">
            <div class="d-flex flex-row-reverse bg-dark p-2">


                <div class="flex-column-reverse">
                    <div class="py-1 px-3 text-center font-weight-bold text-success bg-light" style="margin-top:10px;margin-left:10px;margin-bottom:5px;margin-right:10px;">

                        <div class="mb-1">Recovered</div>
                        <div class="h2 font-weight-normal">122<span class="badge badge-success ml-3" style="font-size:small">3 new</span></div>

                    </div>
                    <div class="py-1 px-3 text-center font-weight-bold text-success bg-light" style="margin-top:2px;margin-left:10px;margin-bottom:10px;margin-right:10px;">
                        <div class="mb-1">Deaths</div>
                        <div class="h2 font-weight-normal">122<span class="badge badge-success ml-3" style="font-size:small">3 new</span></div>

                    </div>
                </div>
                <div class="py-5 px-3 text-center font-weight-bold text-success bg-light" style="font-size:large;margin-top:10px;margin-left:10px;margin-bottom:10px;margin-right:-5px;">

                    <div class="mb-1">Closed Cases</div>
                    <div class="h2 font-weight-normal">122<span class="badge badge-success ml-3" style="font-size:small">3 new</span></div>


                </div>

                <div class="pt-5 px-5 text-center font-weight-bold text-danger bg-light" style="font-size:large;margin:10px;">
                    <div class="mb-1">Active Cases</div>
                    <div class="h2 font-weight-normal">133<span class="badge badge-danger ml-3" style="font-size:small">3 new</span></div>
                </div>

                <div class="pt-5 px-3 text-center  font-weight-bold  bg-light align-middle" style="margin:10px; font-size:large; text-decoration-color:black;">
                    <div class="mb-1">Confirmed Cases</div>
                    <div class="h2 font-weight-normal">144<span class="badge badge-dark ml-3" style="font-size:small">3 new</span></div>

                </div>


            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center" id="myTable" style="font-family:">
            <thead style="font-size:small;font-weight:300">
                <tr>
                    <th class=" text-uppercase small font-weight-bold">Province</th>
                    <th class=" text-uppercase small font-weight-bold">Total</th>
                    <th class=" text-uppercase small font-weight-bold">Active</th>
                    <th class=" text-uppercase small font-weight-bold">Closed</th>
                    <th class=" text-uppercase small font-weight-bold">Recovered</th>
                    <th class=" text-uppercase small font-weight-bold">Deaths</th>
                </tr>
            </thead>
            <tbody style="font-size:small">

                <tr>
                    <th scope="row">Punjab</th>
                    <td>123<span class="badge badge-pill badge-dark ml-3">3 new</span></td>
                    <td>52<span class="badge badge-pill badge-danger ml-3">3 new</span></td>
                    <td>123<span class="badge badge-pill badge-success ml-3">no change</span></td>
                    <td>52<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                </tr>
                <tr>
                    <th scope="row">Sindh</th>
                    <td>123<span class="badge badge-pill badge-dark ml-3">3 new</span></td>
                    <td>52<span class="badge badge-pill badge-danger ml-3">3 new</span></td>
                    <td>123<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-pill badge-success ml-3">no change</span></td>
                </tr>
                <tr>
                    <th scope="row">KPK</th>
                    <td>123<span class="badge badge-pill badge-dark ml-3">3 new</span></td>
                    <td>52<span class="badge badge-pill badge-danger ml-3">3 new</span></td>
                    <td>123<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-pill badge-success ml-3">3 new</span></td>
                </tr>
                <tr>
                    <th scope="row">Azad Kashmir</th>
                    <td>123<span class="badge badge-dark ml-3">3 new</span></td>
                    <td>52<span class="badge badge-danger ml-3">3 new</span></td>
                    <td>123<span class="badge badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-success ml-3">3 new</span></td>
                </tr>
                <tr>
                    <th scope="row">Islamabad</th>
                    <td>123<span class="badge badge-dark ml-3">3 new</span></td>
                    <td>52<span class="badge badge-danger ml-3">3 new</span></td>
                    <td>123<span class="badge badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-success ml-3">3 new</span></td>
                </tr>
                <tr>
                    <th scope="row">Gilgit Baltistan</th>
                    <td>123<span class="badge badge-dark ml-3">3 new</span></td>
                    <td>52<span class="badge badge-danger ml-3">3 new</span></td>
                    <td>123<span class="badge badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-success ml-3">3 new</span></td>
                    <td>52<span class="badge badge-light ml-3">3 new</span></td>
                </tr>
            </tbody>
        </table>
    </div>



</body>
</html>

